@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

main {
    background-color: black;
}

.main {
    background: url("images/bg.jpg") center / cover no-repeat;
    height: 95vh;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}


.main .box {

    background-color: black;
    height: 95vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    z-index: 20;
}

nav {
    display: flex;
    top: 10px;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
    height: 64px;
    padding: 15px;
    position: relative;
    z-index: 30;
}

img {
    width: 160px;

}

nav span button {
    position: relative;
    z-index: 30;
}

#text1 {

    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 30;
    padding: 15px;

}

#text1> :nth-child(1) {
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 68px;
    align-items: center;
    text-align: center;
}

#text1> :nth-child(2) {
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    align-items: center;
    text-align: center;
}

#text1> :nth-child(3) {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}



.Gets {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;

    background-color: red;
    color: white;
    padding: 10px 130px;
    border: 1px solid rgba(0, 0, 0, 0.413);
    border-radius: 6px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}


select {
    background-color: rgba(0, 0, 0, 0.455);
    color: white;
    padding: 5px 40px;
    border: 1px solid white;
    border-radius: 4px;
    align-items: flex-start;
    cursor: pointer;
}

.signin {
    background-color: red;
    color: white;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.534);
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-display: auto;
    cursor: pointer;
    transition: 0.2s;
}

.signin:hover {
    background-color: rgb(208, 2, 2);

}

.Gets:hover {
    background-color: rgb(208, 2, 2);

}

.divider {
    border: 10px solid rgb(67, 67, 67);
}

select option {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;


}

.arch {
    background-color: rgba(166, 0, 0, 0.277);
    padding-top: 10px;
    width: 100%;
    position: absolute;
    z-index: 40;
    display: flex;
}

.movies {
    height: 100%;
    align-items: center;
    align-self: center;
    margin: auto;
    width: 80vw;
}

.listmovies {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px 100px;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 60px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;



}

.listmovies span {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;

}

.movieslists {
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.movieslists:hover {

    width: 300px;
}


h1 {
    color: white;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: left;
    margin: auto;
    padding: 100px 50px;
    font-size: 50px;
    font-family: "Poppins", sans-serif;

}

.Reasons {
    height: 100vh;
    align-items: center;
    align-self: center;
    margin: auto;
    width: 80vw;





}

.listreasons {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px 100px;

    align-self: center;

    gap: 60px;

    width: 80vw;
    align-items: center;
    align-self: center;
    justify-content: center;



}

.reason_box {
    width: 300px;
    height: 350px;
    border-radius: 30px;
    background-color: aliceblue;



}

#box1 {
    background-color: rgba(54, 106, 158, 0.267);
    background-image: linear-gradient(to right bottom, rgba(0, 0, 185, 0.123), rgba(0, 0, 185, 0.123), rgba(223, 0, 0, 0.387));
    border: px solid red;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.1),
        0 0 20px 10px rgba(255, 0, 0, 0.1);
}

h2 {
    color: white;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: left;
    margin: auto;
    padding: 40px 0 0 40px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;

}

p {
    color: white;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: left;
    margin: auto;
    padding: 20px 40px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;

}


.Frequently_asked_questions {
    height: 80%;
    margin: auto;
}

.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;



    background-color: black;
}

.faqoptions {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    padding: 30px;

    margin: auto;
}

#faqoptions {
    border-radius: 5px;
    width: 60vw;

    height: 100px;
    background-color: rgb(74, 74, 74);
    font-family: "Poppins", sans-serif;
    display: flex;
    margin: 5px;
    font-size: 24px;
    font-weight: 600;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;
    transition: 0.3s;

}

#faqoptions span {

    padding: 30px;
}

#faqoptions span img {

    width: 35px;
}


#faqoptions:hover {

    background-color: grey;
}



.footer {
    display: flex;
    flex-direction: column;
    color: white;
}

.footerqs {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}

.contact {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 40px 0;
}

footer {
    max-width: 60vw;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}

.footerlink {
    padding: 5px;
}

.startm {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: flex-start;

    background-color: red;
    color: white;
    padding: 10px 130px;
    border: 1px solid rgba(0, 0, 0, 0.413);
    border-radius: 6px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.startm:hover {
    background-color: rgb(208, 2, 2);
}

.navdata2 {
    padding: 50px 0;

}

h4 {
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}




@media screen and (min-width: 2100px) {


    .Reasons {


        height: 160%;
    }
}

@media screen and (min-width: 2000px) {


    .Reasons {


        height: 160%;
    }

    .Frequently_asked_questions{

        height: 100%;
    }
}







@media screen and (max-width: 1800px) {


    .box




    #text1> :nth-child(1) {
        color: white;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 44px;
        align-items: center;
        text-align: center;
    }

    #text1> :nth-child(2) {
        color: white;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        align-items: center;
        text-align: center;
    }

    #text1> :nth-child(3) {
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 10px;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    select {

        padding: 4px 15px;

        margin: 5px;
        font-size: 16px;


    }

    .signin {



        padding: 4px 15px;
        font-size: 16px;

    }

    .navdata {

        display: flex;

        justify-content: center;
        align-items: center;
        align-self: center;

    }

    #faqoptions span {

        padding: 15px;
    }


    #faqoptions span img {

        width: 20px;
    }


    #faqoptions {
        height: 75px;
    }

    .faqoptions {

        flex-wrap: wrap;
    }

    .listmovies {

        flex-wrap: wrap;
    }

    .movies {
        flex-wrap: wrap;

    }

    .listreasons {
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
        justify-content: center;
    }

    h1 {
        align-items: center;
        align-self: center;
        justify-content: center;
        text-align: center;

        font-size: 35px;

    }

    .faq {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

    }

    .faqoptions {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

    }

    .faqoptions span {

        font-size: 16px;
    }

    .startm {

        padding: 5px 20px;
        font-size: 15px;
    }

    .footerlink {
        padding: 1px;
        font-size: 14px;



    }

    select {

        padding: 5px 20px;

    }


    .reason_box {

        width: 200px;
        height: 225px;
        border-radius: 30px;
        background-color: aliceblue;

    }

    h2 {
        color: white;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: left;
        margin: auto;
        padding: 20px 0 0 20px;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 800;

    }

    p {
        color: white;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: left;
        margin: auto;
        padding: 20px 40px;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: 200;

    }


}




@media screen and (max-width: 400px) {

    .Reasons {
        height: 225%;
    }

    select {

        padding: 4px 10px;

        margin: 5px;
        font-size: 10px;


    }

    .signin{
        padding: 4px 10px;
        font-size: 10px;

    }

    .Gets{

        font-size: 16px;
        padding: 5px 10px;
    }

    nav{
        max-width: 90vw;
    }

     #text1> :nth-child(1) {
        color: white;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        align-items: center;
        text-align: center;
    }

    #text1> :nth-child(2) {
        color: white;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
        align-items: center;
        text-align: center;
    }

    #text1> :nth-child(3) {
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 10px;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    #faqoptions span{
        font-size: 12px;
    }

}



@media screen and (max-width: 1500px) {
    .Reasons {

        height: 250%;
    }

    .Frequently_asked_questions {

        height: 130%;
    }

    .footerlink {
        padding: 1px;
        font-size: 7px;



     }

     nav img{

        width: 100px;
        transition: 0.3s;
     }

     select{

        font-size: 10px;
        padding: 6px 15px;
     }

     .Gets{
         font-size: 10px;
        padding: 6px 15px;

     }


}

@media screen and (max-width: 800px) {

    
    .Reasons {
        height: 200%
    }

    .Frequently_asked_questions {

        height: 100%;
    }

    .contact {
        font-size: 16px;
    }

    #faqoptions span {

        padding: 10px;
    }


    #faqoptions span img {

        width: 15px;
    }

    #faqoptions {
        height: 50px;
    }



    #text1> :nth-child(1) {
        color: white;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 44px;
        align-items: center;
        text-align: center;
    }

    #text1> :nth-child(2) {
        color: white;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        align-items: center;
        text-align: center;
    }

    #text1> :nth-child(3) {
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 10px;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }


    .navdata {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;

    }
     .Gets{

        font-size: 20px;
        padding: 9px 16px;
    }


}